<h1 class="category--header">Admin Dashboard</h1>
<div class="categories">
  <table class="table table-bordered">
   <%= render :partial => 'admin/categories/categories' %>
    <tfoot>
      <tr>
        <th>Total categories :<%= @categories.size%></th>
        <th>Total Products :<%= @product_total%></th>
      </tr>
    </tfoot>

  </table>
</div>