<section class="about-us">
  <div class="about-us--values" >
    <img src="https://images.squarespace-cdn.com/content/v1/5c2d24a7ee17591e015b494d/1551110351989-PKED1TGCBZNZV6E5K7TB/Core+values.png" width="1000px" height="200px" />
    <div class="values">
      <div class="values--container">
        <h4>Bias for Action</h4>
        <p>We have strong sense of urgency to solve problem strategically</p>
      </div>
      <div class="values--container">
        <h4>Customer First</h4>
        <p>We look at the world from our customer point of view</p>
      </div>
      <div class="values--container">
        <h4>Integrity</h4>
        <p>We strive to do what is right and do what we say we will do</p>
      </div>
      <div class="values--container">
        <h4>Inclusion</h4>
        <p>We value the uniqueness in everyone, respect differences, and foster a sense of belonging</p>
      </div>
      <div class="values--container">
        <h4>Audacity</h4>
        <p>We think big and take bold bets. We change the paradigm</p>
      </div>
    </div>
  </div>
</section>