// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "cart";
@import "dashboard";
@import "about";
// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.error {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
